# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets (NIKOLI v repozitorij)
**/google-services.json
**/firebase-adminsdk*.json
**/application-local.yml
**/.env
**/.env.production
**/.env.local


# Build outputs
**/uploads/
backend/certifications/
.env
node_modules

_PROMOCIJA/*.pptx
